{% extends "base.html" %} {% load static %} {% block bodycontent %}


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Seeking a Python Programmer position in a company that permits me to utilize my Programming
            skills and knowledge. Responsible for the interactive experience of the site. Assisted
            engineering team to ensure efficient and correct implementation.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/nkar.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>PYTHON PROGRAMMER</h3>
           
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 3 December 1983</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> {{personal_info.phone}}</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> {{personal_info.city}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong>{{personal_info.age}}</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong>{{personal_info.degree}}</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong>{{personal_info.email}}</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong>{{personal_info.freelance}}</li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row skills-content">
          {% for skill in skills %}
          <div class="col-lg-6">
            
            <div class="progress">
              <span class="skill">{{skill.name}} <i class="val">{{skill.value}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
           

        </div>

          
            {% endfor %}
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row counters">
          {% for fact in facts%}
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{fact.number}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{fact.name}}</p>
          </div>
          {% endfor%}
          
        </div>

      </div>
    </section><!-- End Facts Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">          
                <a href="https://www.facebook.com/hasmik.safaryan.7549/" target ="_blank" ><img src="{% static 'assets/img/testimonials/testimonials1.jpg' %}" class="testimonial-img" alt=""></a>
                <h3>Hasmik Safaryan</h3>
                <h4>Docent</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <a href="https://www.facebook.com/arthur.minassian.5" target ="_blank" ><img src="{% static 'assets/img/testimonials/testimonials2.jpg' %}" class="testimonial-img" alt=""></a>
                <h3>Artur Minasyan</h3>
                <h4>Engineer</h4>               
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <a href="https://www.facebook.com/shushan.shalunts" target ="_blank" ><img src="{% static 'assets/img/testimonials/testimonials3.jpg' %}" class="testimonial-img" alt=""></a>
                <h3>Shushan Shalunts</h3>
                <h4>Docent</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <a href="https://www.linkedin.com/in/suren-abrahamyan/" target ="_blank" ><img src="{% static 'assets/img/testimonials/testimonials4.jpg' %}" class="testimonial-img" alt=""></a>
                <h3>Suren Abrahamyan</h3>
                <h4>Python Developer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <a href="https://www.linkedin.com/in/sona-israyelian/" target ="_blank" ><img src="{% static 'assets/img/testimonials/testimonials5.jpg' %}" class="testimonial-img" alt=""></a>
                <h3>Sona Israyelyan</h3>
                <h4>Software Engineer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock %}