{% extends "base.html" %} {% load static %} {% block bodycontent %}


  <main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2> Portfolio</h2>
          <p>I am beginner Python programmer. I am at the initial stages of my coding journey, focusing on building
            a strong foundation in programming concepts and gradually working my way towards more complex
            and challenging projects. I have a Growth Mindset: I am enthusiastic and eager to learn. I am
            understand that programming is a skill that requires practice and patience.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for pproject in portfolio_projects %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{pproject.image.url}}" class="img-fluid" alt="" max-width = '100%' width="1000" height="200">
              <div class="portfolio-info">
                <h4>{{pproject.name}}</h4>
                <p>{{pproject.short_description}}</p>
                <div class="portfolio-links">
                  <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'resume:portfolio_project' pproject.id %}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

  {% endblock %}